/* Left side is for the rest of the content on the page */

.content-container {
    flex: 1;
    display: flex;
    padding: 0.5rem 7rem 7rem 11rem;
    width: 100%;
    gap: 5%;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 47%;
    position: relative;
}

.left-content>h1 {
    font-size: 5rem;
    color: var(--Almost-Black);
    margin-top: 8rem;
}

.left-content>p {
    margin-top: 2rem;
    color: var(--Medium-Gray);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right: 1rem;
}

.learn-btn {
    cursor: pointer;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    font-size: 1rem;
    margin-top: 3rem;
    width: 31%;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.2s;
}

.learn-btn:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
}

.company-ads {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3rem;
    left: 0;
    bottom: 0;
}

/* Right Side is for the image. mostly just the img element. */
.right-content {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-content>img {
    width: 500px;
    /* Adjust this value */
    height: auto;
    object-fit: contain;
}


@media screen and (max-width:450px) {
    
}