.nav-container {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    gap: 4.5rem;
    width: 100%;
}

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.nav-left {
    display: flex;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links > li {
    color: var(--Medium-Gray);
    font-weight: 500;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem 1.5rem;
    margin-top: 1.2rem;
    box-shadow: 0 8px 40px var(--Medium-Gray) ;
}

.dropdown-menu > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-parent:nth-of-type(1) .dropdown-menu {
    left: 8.4rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav-right > button {
    color: var(--Medium-Gray);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.login-btn {
    border: none;
}

/* so i can hover on the li elements without modifying the color font in .dropdown-menu > div */
.nav-links > li:hover > .dropdown-toggle,
.nav-links > li:hover:not(.dropdown-parent),
.nav-right > button:hover {
    color: var(--Almost-Black);
}


.register-btn {
    border: 1px solid var(--Almost-Black);
    padding: 0.7rem 1.3rem;
    border-radius: 0.75rem;
}