.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3.5rem;
}

.nav-left {
    display: flex;
    gap: 4.5rem;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links > li {
    color: var(--Medium-Gray);
    font-weight: 500;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    margin-top: 1.5rem;
    box-shadow: 0 8px 40px var(--Medium-Gray) ;
}

.dropdown-parent:nth-of-type(1) .dropdown-menu {
    left: 8.4rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}