@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}


/* Just for layout purposes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: var(--Almost-White);
  min-height: 100vh;
}

/* Here im covering the entire boddy with the dim  */
body.dimmed::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 998; /* under the mobile menu z-index */
}

/* enables scroll lock so user can focus more on the menu */
body.dimmed {
  overflow: hidden; 
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}